compose-auth/example-flow.txt
[{"id":"abaef8fa.545108","type":"function","name":"return user_attributes","func":"msg.payload=msg.user_attributes;\nmsg.payload.staus=\"OK\";\nreturn msg;","outputs":1,"x":729,"y":323,"z":"963ea2c1.69c16","wires":[["722607cf.8dd9f8"]]},{"id":"8f4834fc.70b7c8","type":"http in","name":"my_input_node","url":"/my_input_node","method":"get","x":310,"y":325,"z":"963ea2c1.69c16","wires":[["f259c1cb.0da64"]]},{"id":"722607cf.8dd9f8","type":"http response","name":"output_of_input_node","x":975,"y":324,"z":"963ea2c1.69c16","wires":[]},{"id":"f259c1cb.0da64","type":"compose-auth","name":"","url":"http://132.231.11.217:8080","x":502,"y":324,"z":"963ea2c1.69c16","wires":[["abaef8fa.545108"]]}]
